wanerdao.com/html/2.0.0/源程序/WanerDao2.0/WanerDaoBLL/Service References/SearchReference/SearchService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SearchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISearchService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26185/SearchService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26185/SearchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISearchService_GetSearchResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchResult" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetSearchResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchResultResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetSearchCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchCount" />
  </wsdl:message>
  <wsdl:message name="ISearchService_GetSearchCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchCountResponse" />
  </wsdl:message>
  <wsdl:portType name="ISearchService">
    <wsdl:operation name="GetSearchResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/GetSearchResult" message="tns:ISearchService_GetSearchResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/GetSearchResultResponse" message="tns:ISearchService_GetSearchResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSearchCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/GetSearchCount" message="tns:ISearchService_GetSearchCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/GetSearchCountResponse" message="tns:ISearchService_GetSearchCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISearchService" type="tns:ISearchService">
    <wsp:PolicyReference URI="#WSHttpBinding_ISearchService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSearchResult">
      <soap12:operation soapAction="http://tempuri.org/ISearchService/GetSearchResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSearchCount">
      <soap12:operation soapAction="http://tempuri.org/ISearchService/GetSearchCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchService">
    <wsdl:port name="WSHttpBinding_ISearchService" binding="tns:WSHttpBinding_ISearchService">
      <soap12:address location="http://localhost:26185/SearchService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:26185/SearchService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>